<!doctype html>

<html>
    <head>
        <title>Real Estate Listings</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        <a href="/api/property">Create new</a>
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% properties.forEach((property) => { %>
                <div class="col-lg-3 col-md-5 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="<%= property.image %>" alt="<%= property.name %>">
				        <div class="card-body">
                            <h4>
						         <%= property.name %>
					        </h4>
                        </div>  
                        <p>
                            <a href="/api/property/show/<%= property._id %>">More Info</a>
                        </p>
                    </div> 
                </div>
            <% }); %>
        </div>  
    </div>
    </body>
</html>
