<!doctype html>

<html>
    <head>
        <title>Real Estate Listings</title>
    </head>
    <body>
        <h1>You made it here!</h1>
        
        <form action="/api/property/new" method="POST">
            <label>New House</label>
            <input type="text" name="name" placeholder="Name" required>            
            <input type="number" name="price" placeholder="Price" min="1" step="1" required>
            <input type="text" name="image" placeholder="image url">    
            <input type="text" name="description" placeholder="Description" required>
            <select name="category" id="category" required>
              <option value="commercial">commercial</option>
              <option value="terrace">terrace</option>
              <option value="apartment">apartment</option>
            </select>
            <select name="status" id="status" required>
              <option value="underoffer">under offer</option>
              <option value="highpriority">high priority</option>
              <option value="unpublish">unpublish</option>
            </select>
            <input type="text" name="location" placeholder="Location">
            <input class="featuresCheckbox" type="checkbox" name="features1" value="garden">
            <label for="vehicle1"> has garden</label><br>
            <input type="checkbox" name="features2" value="refurbishment">
            <label for="vehicle2"> needs refurbishment</label><br>
            <input type="checkbox" name="features3" value="garage">
            <label for="vehicle3"> has garage</label><br><br>
            <button>
                Create!
            </button>
        </form>
        
                <a href="/api/property/show">Go</a>
        
    </body>
</html>