<!doctype html>

<html>
    <head>
        <title>Real Estate Listings</title>
    </head>
    <body>
        <h1>You made it here!</h1>
        
        <form action="/" method="POST">
            <label>REGISTER</label>
            <input type="email" name="email" placeholder="email" required>            
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>         
            <button>
                Sign Up!
            </button>
        </form>
        <br>
        <form action="/api/login" method="POST">
            <label>LOGIN</label>
            <input type="email" name="email" placeholder="email" required>            
            <input type="password" name="password" placeholder="password" required>         
            <button>
                Sign In!
            </button>
        </form>
        
    </body>
</html>